[submodule "Proyecto-Multiagentes-para-MachineLearning/proyecto_agentes_de_pipeline_ml"]
	path = Proyecto-Multiagentes-para-MachineLearning/proyecto_agentes_de_pipeline_ml
	url = https://github.com/KevinInoCol/Project-CrewAI-Regression-Pipeline-Generator.git
